.icons {
    flex-direction: row;
    align-items: center;
    display: flex;

    >svg {
        margin-right: 8px;
    }
}

table.items {
    thead, tbody, tfoot {
        tr {
            td, th {
                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}

.rtf.open .rtf--mb>* {
    transform: rotate(540deg) !important;
    transition: transform 0.3s ease-in-out !important;
}