[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aws-wsgi = "*"
boto3 = "*"
flask = "*"
flask-cors = "*"
cerberus = "*"
pynamodb = "*"
pynamodb-encoder = {path = "./pynamodb-encoder"}

[requires]
python_version = "3.8"

[dev-packages]
