#title {
    font-size: 3em;
}

#content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    flex: 1;
}

main {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
}

article {
    padding: 0;
    overflow: hidden;
}

article div {
    padding: 1rem;
}

@media (min-width: 576px) {
    main {
        padding: 1.25rem 0;
    }

    article div {
        padding: 1.25rem;
    }
}

@media (min-width: 768px) {
    main {
        padding: 1.5rem 0;
    }

    article div {
        padding: 1.5rem;
    }
}

@media (min-width: 992px) {
    main {
        padding: 1.75rem 0;
    }

    article div {
        padding: 1.75rem;
    }
}

@media (min-width: 1200px) {
    main {
        padding: 2rem 0;
    }

    article div {
        padding: 2rem;
    }
}

/* Footer */
footer {
    padding: 1rem 0;
}