@use '../node_modules/@picocss/pico/css/pico.min.css';

h1 {
    --font-size: 2rem;
    --typography-spacing-vertical: 1.5rem;
}

h2 {
    --typography-spacing-vertical: 1rem;
}

h3 {
    --font-size: 1.5rem;
    --typography-spacing-vertical: 0.75rem;
}

h4 {
    --font-size: 1.25rem;
    --typography-spacing-vertical: 0.5rem;
}

h5 {
    --font-size: 1.125rem;
    --typography-spacing-vertical: 0.33rem;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

.title {
    font-size: 3em;
}

dialog {
    pointer-events: none;
}

dialog>article {
    pointer-events: all;
}

/**
 * Icons and Interactives
 */

.icon {
    margin-bottom: 0.2em;
    margin-right: 0.2em;
}

.click {
    cursor: pointer;
}

/**
 * Modal Animations
 */

 .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;

    dialog>article {
        transition: transform 200ms ease-in-out;
        transform: translate(0, 30px);
    }
}

.ReactModal__Overlay--after-open{
    opacity: 1;

    dialog>article {
        transform: translate(0, 0);
    }
}

.ReactModal__Overlay--before-close{
    opacity: 0;

    dialog>article {
        transform: translate(0, 30px);
    }
}