@use '../node_modules/@picocss/pico/css/pico.min.css';
@use '../node_modules/react-responsive-select/dist/react-responsive-select.css';

h1 {
    --font-size: 2rem;
    --typography-spacing-vertical: 1.5rem;
}

h2 {
    --typography-spacing-vertical: 1rem;
}

h3 {
    --font-size: 1.5rem;
    --typography-spacing-vertical: 0.75rem;
}

h4 {
    --font-size: 1.25rem;
    --typography-spacing-vertical: 0.5rem;
}

h5 {
    --font-size: 1.125rem;
    --typography-spacing-vertical: 0.33rem;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

.title {
    font-size: 3em;
}

dialog {
    pointer-events: none;
}

dialog>article {
    pointer-events: all;
}

.tooltip {
    display: block;
    width: 100%;
    margin-top: calc(var(--spacing) * -0.75);
    margin-bottom: var(--spacing);
}

.error-color {
    color: var(--form-element-invalid-border-color) !important;
}

.no-margin {
    margin: 0 !important;
}

.no-space {
    margin-bottom: 0 !important;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/**
 * Icons and Interactives
 */

.icon {
    margin-bottom: 0.2em;
    margin-right: 0.2em;
}

.click {
    cursor: pointer;
}

.hoverline:hover {
    text-decoration: underline;
}

.link {
    @extend .click;
    @extend [role=link];
    --text-decoration: underline;
}

:is(button, input[type="submit"], input[type="button"], [role="button"]).danger {
    --background-color: var(--del-color);
    --border-color: var(--del-color);
    --color: var(--primary-inverse);

    &.outline {
        --color: var(--del-color);
        --background-color: transparent;

        &:is([aria-current], :hover, :active, :focus) {
            --background-color: var(--del-color);
            --color: var(--primary-inverse);
        }
    }
}

/**
 * Forms
 */
.form-group {
    display: block;
    position: relative;

    >label {
        position: absolute;
        z-index: 1;
        top: -0.8em;
        left: 1em;
        font-size: small;
        padding: 0 5px;
        background: linear-gradient(180deg, transparent 45%, var(--background-color) 50%);
        color: var(--color);
        transition: color 0.3s ease-in-out;

        &[disabled] {
            background: none;
            color: var(--form-element-placeholder-color);
        }
    }
}

input, select, textarea {
    &[disabled] {
        border-color: transparent;
    }
}

/**
 * Badges
 */

.badge {
    border-radius: 4px;
    padding: 0 5px;
    font-size: small;
    &:not(:last-child) {
        margin-right: 8px;
    }

    @media (prefers-color-scheme: dark) {
        color: black;
    }

    @media (prefers-color-scheme: light) {
        color: white;
    }
}

/**
 * react-tiny-fab fixes to interop with Pico.css
*/

ul.rtf {

    // Render FAB below modals
    z-index: 900;

    .rtf--mb {
        z-index: 901;
    }

    li {
        list-style: none;

        button {
            padding: 0;
            border: none;
            border-radius: 50%;
            outline: none;
            background-color: var(--contrast);
            color: var(--contrast-inverse);
            box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
            font-weight: 700;
            font-size: 0.8em;
            margin-bottom: 0;
            display: flex;
            align-content: center;
        }
    }

    // Disable default rotation animation on main button
    // (let consumers decide whether main button should rotate on open)
    &.open .rtf--mb>* {
        transform: none;
    }
}

.ReactModal__Overlay {
    z-index: 1000;
}

/**
 * react-responsive-select fixes to interop with Pico.css
 */
.rrs {
    font-family: unset;

    .rrs__button {
        @extend select;

        .rrs__label {
            color: var(--form-element-color);
            border: none !important;
            padding: 0 4px;

            .rrs__multiselect-label__text {
                overflow: unset;
            }

            .rrs__multiselect-label__badge {
                border: none;
                background-color: var(--muted-color);
                color: var(--muted-border-color);
                display: flex;
                align-items: center;
                margin-left: 10px;
            }
        }

        &:focus {
            --border-color: var(--form-element-active-border-color);
        }
    }

    .rrs__button--disabled {
        background-color: var(--form-element-disabled-background-color);
        border-color: transparent;
        opacity: var(--form-element-disabled-opacity);
    }

    .rrs__options {
        background-color: var(--background-color);
        border: var(--border-width) solid var(--form-element-border-color);

        @media screen and (min-width: 768px) {
            top: calc(1.5em + 2 * var(--form-element-spacing-vertical));
        }

        .rrs__option {
            &:hover {
                background-color: var(--dropdown-hover-background-color);
                color: unset;
            }

            &:focus {
                outline: none;
            }

            &.rrs__option--next-selection {
                background-color: var(--primary-focus);
                color: unset;
            }

            &.rrs__option--selected {
                color: var(--primary);
                font-weight: bold;
            }
        }
    }
}

/**
 * Allow SVGs to overflow
 */
svg:not(:root) {
    overflow: visible;
}

/**
 * Modal Animations
 */

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;

    dialog>article {
        transition: transform 200ms ease-in-out;
        transform: translate(0, 30px);
    }
}

.ReactModal__Overlay--after-open {
    opacity: 1;

    dialog>article {
        transform: translate(0, 0);
    }
}

.ReactModal__Overlay--before-close {
    opacity: 0;

    dialog>article {
        transform: translate(0, 30px);
    }
}

/**
 * Tables: style last column to be text justified right
 */
table {
    thead, tbody, tfoot {
        tr {
            td, th {
                &:last-child {
                    text-align: right;
                }
            }
        }
    }

    tfoot {
        --font-size: 0.875em;
    }
}