.accordion-item {
    display: block;
    margin-bottom: var(--spacing);
    border-bottom: var(--border-width) solid var(--accordion-border-color);
}

.accordion-header {
    padding-bottom: var(--spacing);
    line-height: 1rem;
    list-style-type: none;
    cursor: pointer;
    transition: color var(--transition);

    &::after {
        display: block;
        width: 1rem;
        height: 1rem;
        margin-inline-start: calc(var(--spacing, 1rem) * 0.5);
        float: right;
        transform: rotate(-90deg);
        background-image: var(--icon-chevron);
        background-position: right center;
        background-size: 1rem auto;
        background-repeat: no-repeat;
        content: "";
        transition: transform var(--transition);
    }

    &.accordion-header-expanded {
        &::after {
            transform: rotate(0);
        }
    }
}

.accordion-link:hover {
    text-decoration: underline;
}